/*
 *		コンフィギュレータ本体によるパス2でのエラー検出のテスト(1)
 *
 *  $Id: pass2_cfg1.cfg 1881 2026-05-18 03:52:07Z ertl-hiro $
 */

#include "cfg_common.h"

/* tskidで指定した識別名のオブジェクトが登録済み［NGKI1040］*/
CRE_TSK(TASK1, { TA_NULL, 1, task1, MID_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(TASK1, { TA_NULL, 2, task2, MID_PRIORITY, STACK_SIZE, NULL });

/* 条件ディレクティブで選択されないオブジェクト */
#if 0
CRE_TSK(TASK1, { TA_NULL, 3, task3, MID_PRIORITY, STACK_SIZE, NULL });
#endif

/* semidで指定した識別名のオブジェクトが登録済み［NGKI1463］*/
CRE_SEM(SEM1, { TA_NULL, 1, 1 });
CRE_SEM(SEM1, { TA_NULL, 1, 1 });
CRE_SEM(TASK1, { TA_NULL, 1, 1 });

/* flgidで指定した識別名のオブジェクトが登録済み［NGKI1569］*/
CRE_FLG(FLG1, { TA_NULL, 0x00 });
CRE_FLG(FLG1, { TA_NULL, 0x00 });
CRE_FLG(TASK1, { TA_NULL, 0x00 });

/* dtqidで指定した識別名のオブジェクトが登録済み［NGKI1677］*/
CRE_DTQ(DTQ1, { TA_NULL, 0, NULL });
CRE_DTQ(DTQ1, { TA_NULL, 0, NULL });
CRE_DTQ(TASK1, { TA_NULL, 0, NULL });

/* pdqidで指定した識別名のオブジェクトが登録済み［NGKI1812］*/
CRE_PDQ(PDQ1, { TA_NULL, 0, 16, NULL });
CRE_PDQ(PDQ1, { TA_NULL, 0, 16, NULL });
CRE_PDQ(TASK1, { TA_NULL, 0, 16, NULL });

/* mtxidで指定した識別名のオブジェクトが登録済み［NGKI2032］*/
CRE_MTX(MTX1, { TA_NULL });
CRE_MTX(MTX1, { TA_NULL });
CRE_MTX(TASK1, { TA_NULL });

/* mpfidで指定した識別名のオブジェクトが登録済み［NGKI2236］*/
CRE_MPF(MPF1, { TA_NULL, 10, 10, NULL, NULL });
CRE_MPF(MPF1, { TA_NULL, 10, 10, NULL, NULL });
CRE_MPF(TASK1, { TA_NULL, 10, 10, NULL, NULL });

/* cycidで指定した識別名のオブジェクトが登録済み［NGKI2392］*/
CRE_CYC(CYC1, { TA_NULL, { TNFY_HANDLER, 0, cyclic1_handler }, 10, 0 });
CRE_CYC(CYC1, { TA_NULL, { TNFY_HANDLER, 0, cyclic2_handler }, 10, 0 });
CRE_CYC(TASK1, { TA_NULL, { TNFY_HANDLER, 0, cyclic3_handler }, 10, 0 });

/* almidで指定した識別名のオブジェクトが登録済み［NGKI2500］*/
CRE_ALM(ALM1, { TA_NULL, { TNFY_HANDLER, 0, alarm1_handler }});
CRE_ALM(ALM1, { TA_NULL, { TNFY_HANDLER, 0, alarm2_handler }});
CRE_ALM(TASK1, { TA_NULL, { TNFY_HANDLER, 0, alarm3_handler }});

/* isridで指定した識別名のオブジェクトが登録済み［NGKI3009］*/
CRE_ISR(ISR1, { TA_NULL, 0, INTNO1, isr1, 1 });
CRE_ISR(ISR1, { TA_NULL, 0, INTNO2, isr2, 2 });
CRE_ISR(TASK1, { TA_NULL, 0, INTNO3, isr3, 3 });

/* 対象割込みハンドラ番号に対して割込みハンドラが定義済み［NGKI3063］*/
DEF_INH(INHNO4, { TA_NULL, int1_handler });
DEF_INH(7, { TA_NULL, int2_handler });

/* 対象割込み要求ラインに対して属性が設定済み［NGKI2976］*/
CFG_INT(INTNO1, { TA_NULL, TMIN_INTPRI });
CFG_INT(4, { TA_NULL, TMIN_INTPRI });
CFG_INT(INTNO2, { TA_NULL, TMIN_INTPRI });
CFG_INT(INTNO3, { TA_NULL, TMIN_INTPRI });
CFG_INT(INTNO4, { TA_NULL, TMIN_INTPRI });

/* 対象CPU例外ハンドラ番号に対してCPU例外ハンドラが定義済み［NGKI3141］*/
DEF_EXC(CPUEXC1, { TA_NULL, cpuexc1_handler });
DEF_EXC(1, { TA_NULL, cpuexc2_handler });
