/*
 *		コンフィギュレータ本体によるパス1でのエラー検出のテスト(1)
 *
 *  $Id: pass1_cfg1.cfg 1881 2026-05-18 03:52:07Z ertl-hiro $
 */

#include "cfg_common.h"

/* 条件ディレクティブを静的APIの途中に記述［NGKI0488］*/
CRE_TSK(TASK1, { TA_NULL, 1, task1, MID_PRIORITY,
#if 0
									STACK_SIZE, NULL });
#endif
