/*
 * カーネル実装のコンフィギュレーションファイル
 *
 * $Id: target_kernel.cfg 1799 2023-04-01 00:50:30Z ertl-komori $
 */
#ifdef TOPPERS_SAFEG_M
INCLUDE("core_kernel.cfg");	/* 【SAFEG】_SAFEG_BTASK(id=1) を最初に生成 */
#endif /* TOPPERS_SAFEG_M */
INCLUDE("target_timer.cfg");
