/*
 *		シリアルインタフェースドライバのターゲット依存部
 *		（STM32MP257F-DK用）のコンフィギュレーションファイル
 *		（非TECS版専用）
 */

#include "target_serial.h"
/* sio_initializeはtarget_initializeから呼び出すため，ATT_INIは不要 */
/* ATT_INI({ TA_NULL, 0, sio_initialize }); */
ATT_TER({ TA_NULL, 0, sio_terminate });
CFG_INT(INTNO_SIO, { INTATR_SIO, INTPRI_SIO });
CRE_ISR(ISR_SIO, { TA_NULL, 1, INTNO_SIO, sio_isr, ISRPRI_SIO });
